.form__field_about {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  width: 358px;
  height: 14px;
  border: transparent;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 470px) {
  .form__field_about {
    width: 238px;
  }
}