.form__close-btn {
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -204px;
  left: 212px;
}

.form__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 525px) {
  .form__close-btn {
    top: -224px;
    left: 170px;
  }
}

@media screen and (max-width: 470px) {
  .form__close-btn {
    top: -224px;
    left: 115px;
  }
}