.form__line-img {
  width: 358px;
  margin: 13.25px auto 30px auto;
}

.form__line-img:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 470px) {
  .form__line-img {
    width: 238px;
    margin: 9px 22px 30px 22px;
  }

  .form__line-img:last-of-type {
    margin-bottom: 46px;
  }
}