@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/header/header.css");

@import url("../blocks/page/page.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/form/form.css");
@import url("../blocks/popup/popup.css");

@import url("../blocks/popup/__place-image/popup__place-image.css");
@import url("../blocks/popup/__photo-title/popup__photo-title.css");
@import url("../blocks/popup/__img-close-btn/popup__img-close-btn.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__container-img/popup__container-image.css");

@import url("../blocks/popup/_visible/popup_visible.css");
@import url("../blocks/popup/__close-img/popup__close-img.css");

@import url("../blocks/form-container/form-container.css");
@import url("../blocks/add-container/add-container.css");
@import url("../blocks/photo-container/photo-container.css");

@import url("../blocks/footer/footer.css");
