.profile__img-place {
  width: 168.75px;
  height: 127.25px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 880px) {
  .profile__img-place {
    align-self: center;
  }
}