.profile__text-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  margin-left: 3.75px;
}


@media screen and (max-width:768px) {
  .profile__text-box {
    margin-bottom: 36px;
    margin-left: 0px;
  }
}