.form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  width: 330px;
  margin-right: 64px;
  margin-left: 36px;
  margin-bottom: 54px;
}

@media screen and (max-width: 525px) {
  .form__title {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 22px;
  }
}