.popup__place-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  object-fit: contain;
  display: block;

}


@media screen and (max-width: 880px) {
  .popup__place-image {
    max-width: calc(100vw - 80px);
  }
}